*
{
	padding:0;
	margin:0;
}


.container
{
	text-align:center;
	width:1200px;
	margin: 0 auto;
}

.head
{
	width:100%;
	background-color: #F7B95D;
	padding-top:50px;
	padding-bottom:50px;
}

.body
{
	
	width:70%;
	background-color: #E8E8FF;
	padding-top:250px;
	padding-bottom:250px;
	float:left;
}

.aside
{
	width: 30%;
	float:left;
}

.aside1
{
	width:100%;
	padding-top:125px;
	padding-bottom:125px;
	background-color:green;
}

.aside2
{
	width:100%;
	padding-top:122px;
	padding-bottom:107px;
	background-color:blue;
}
	
	
.foot
{
	width:100%;
	padding-top:25px;
	padding-bottom:25px;
	background-color:yellow;
	float:left;
}
	